extend ./layout

block content
  ul.pages
    //- Chat
    li.chat.page
      .chatArea
        ul.messages
        input(class="inputMessage" 
              placeholder="Start typing | 'Enter' to Send | Call '$exit' to logout")
    //- Login 
    li.login.page
      .form
        h1.text-center.brand Mentorance
        br
        h3.title What's your name?
        input(class="usernameInput" 
              type="text" 
              maxlength="14")
        h3#error.title Please type your name
    //- Video
    li.video.page.embed-responsive.embed-responsive-4by3
      video.embed-responsive-item
    //- Black
    li.black.page