extend ./layout

block content
	h1 Jade - node template engine
	h2
		span This is my id
		span= userId
	p.
		Jade is a terse and simple
		templating language with a
		strong focus on performance
		and powerful features.
