extend ./layout

block content
  ul.pages
    //- Chat
    li.chat.page
      .chatArea
        ul.messages.lead
        input(class="inputMessage" 
              placeholder="Type | 'Enter' to Send | Call '$quit' to exit | '$users.show' to display connected users")
    //- Login 
    li.login.page
      .form
        h1.text-center.brand Mentorance 
          span#beta beta
        br
        h3.title What's your name?
        input(class="usernameInput" 
              type="text" 
              maxlength="14")
        h3#error.title Please type your name
    //- Video
    li.video.page.embed-responsive.embed-responsive-16by9
      video.embed-responsive-item
    //- Black
    li.black.page