doctype html
html(lang="en")
  head
    title Test

  body
    .wrapper
      block content
  
  //- Scripts
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' src='simplepeer.js')
  script(type='text/javascript' src='test.js')
